<section class="root" [ngClass]="{ collapsed: !(showSidenav$ | async) }">
  <button class="button-collapse">
    <img *ngIf="(showSidenav$ | async)" class="icon" alt="logo" src="assets/images/format_indent_left.svg" (click)="closeSidenav()"/>
    <img *ngIf="!(showSidenav$ | async)" class="icon" alt="logo" src="assets/images/format_indent_right.svg" (click)="openSidenav()"/>
  </button>
  <strong class="title">
    <span>{{ config.getName() }}</span>
    <span class="version">v. {{ config.getVersion()}} - {{ config.getDate() }}</span>
  </strong>
</section>
