<section class="root" [ngClass]="{ collapsed: !(showSidenav$ | async) }">
  <!--<button class="button-collapse">
    <img *ngIf="(showSidenav$ | async)" class="icon" alt="logo" src="assets/images/format_indent_left.svg" (click)="closeSidenav()"/>
    <img *ngIf="!(showSidenav$ | async)" class="icon" alt="logo" src="assets/images/format_indent_right.svg" (click)="openSidenav()"/>
  </button>-->
  <div>
    <button *ngIf="(showSidenav$ | async)" class="button-collapse" mat-button (click)="closeSidenav()">
      <mat-icon>format_indent_decrease</mat-icon>
    </button>
    <button *ngIf="!(showSidenav$ | async)" class="button-collapse" mat-button (click)="openSidenav()">
      <mat-icon>format_indent_increase</mat-icon>
    </button>
  </div>
  <strong class="title">
    <span>{{ config.getName() }}</span>
    <span class="version">v. {{ config.getVersion()}} - {{ config.getDate() }}</span>
  </strong>
  <div class="env">
    <span>{{ config.getEnv() }}</span>
  </div>
  <div style="flex: 1;"></div>
  <app-websocket class="websocket"></app-websocket>
  <button class="user-button" mat-button (click)="showMenuHandler($event)" [matMenuTriggerFor]="menu">
    <mat-icon>person</mat-icon>
    <strong class="user-name">
      Thorben Böhle
    </strong>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="logoutHandler()">Logout</button>
  </mat-menu>
</section>
