<ng-container [ngSwitch]="applicationState">
  <div class="main" *ngSwitchCase="'ok'">
    <!-- toast here -->
    <!-- app menu with nav items -->
    <app-sidebar [navItems]="navigation"></app-sidebar>
    <router-outlet></router-outlet>
  </div>
  <div class="msg" *ngSwitchCase="'startup'">
    <h2>Checking sign-in information...</h2>
  </div>
  <div class="msg" *ngSwitchCase="'authenticated'">
    <h2>Retrieving account information...</h2>
  </div>
  <div class="msg" *ngSwitchCase="'enoperm'">
    <div>
      <h2>Sorry!</h2>
      <h3>You do not have permission to use this application.</h3>
    </div>
  </div>
  <div class="msg" *ngSwitchCase="'error'">
    <div>
      <h2>Failed to retrieve account information.</h2>
      <h3>This application is currently out of service. Please try again later.</h3>
    </div>
  </div>
</ng-container>
