.root {
  z-index: 20;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 200px;

  background: #f0bc5e;

  &.collapsed {
    width: 70px;
  }
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
  margin-bottom: 20px;
  img {
    width: 40px;
    height: 40px;
  }
  svg {
      width: 40px;
      height: 40px;
  }
}
// Link
.item {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;

  padding: 15px 20px;

  color: #242E42;
  background: rgba(0, 0, 0, 0);

  &::before {
      position: absolute;
      top: 5px;
      left: 0;
      bottom: 5px;

      width: 0;
      background: #242E42;

      content: '""'
  }

  &.itemActive {
      &::before {
          width: 6px;
      }
  }
  & svg {
      flex-shrink: 0;
      width: 25px;
      height: 25px;
      fill: #242E42;
  }
}
.itemTitle {
  flex: 1;

  font-size: 14px;
  font-weight: bold;
  text-align: left;
  padding-left: 10px;
}

