@import '../../assets/styles/global.scss';

.root {
  z-index: 20;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 200px;

  background: $color-primary-light;

  &.collapsed {
    width: 70px;
  }
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
  margin-bottom: 20px;
  img {
    width: 40px;
    height: 40px;
  }
  svg {
      width: 40px;
      height: 40px;
  }
}
