$breakpoint: 900px;

// Official SICK design colors
$color-primary-fg: #ffffff;
$color-primary: #007cc1;
$color-primary-light: #009df4;
$color-primary-dark: #005b8e;

$color-fg: #50585c;
$color-bg: #ffffff;
$color-fg-low: #b1b8bc;

$color-darkgray-1: #141718;
$color-darkgray-2: #2c3133;
$color-darkgray-3: #50585c;
$color-darkgray-4: #737f85;
$color-midgray-1: #8e989d;
$color-midgray-2: #b1b8bc;
$color-midgray-3: #c5cacc;
$color-lightgray-2: #eeeff0;
$color-lightgray-1: #fbfcfc;
$color-white: #fff;

$color-error: #ea0823;
$color-error-light: #fce6e9;
$color-success: #63b017;
$color-success-light: #eff7e7;
$color-warning: #f5c413;
$color-warning-light: #fef9e7;
$color-information-primary-light: #e5f1f8;

$color-text-dark: #141718;
$color-text: #2c3133;
$color-text-light: #50585c;
$color-text-lighter: #737f85;
$color-outline: #8e989d;
$color-text-disabled: #b1b8bc;
$color-outline-light: #c5cacc;

// dark mode
$color-alt-fg: #8e989d;
$color-alt-bg: #141718;
$color-alt-text-dark: #eeeff0;
$color-alt-text: #c5cacc;
$color-alt-text-light: #b1b8bc;
$color-alt-text-lighter: #8e989d;
$color-alt-outline: #737f85;
$color-alt-text-disabled: #50585c;
$color-alt-outline-light: #2c3133;

// Custom - non official SICK color codes
$color-custom-light-blue: #c5e9fc;
